<%= form_with(model: profile) do |f| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="profile-form">
    <%= f.hidden_field(:first_name, value: "#{Profile::FIRST_NAMES&.sample}") %>
    <%= f.hidden_field(:last_name, value: "#{Profile::LAST_NAMES&.sample}") %>
    <%= f.hidden_field(:occupation, value: "#{Profile::OCCUPATIONS&.sample}") %>
    <%= f.hidden_field(:age, value: "#{(18..100).to_a.sample}") %>
    <div class=form-input>
      <label>Upload an Image</label>
      <button type="button" id="profile_widget_opener" class="cloudinary-button">Upload files</button>
    </div>
    <div class="form-input">
      <%= f.label :email %>
      <%= f.text_field :email, required: true%>
    </div>
    <div class="form-input">
      <%= f.label :question_1, "What best describes your ideal date night?" %>
      <div class="radio-button">
        <%= f.radio_button :question_1, "netflix and chill" %>
        <%= f.label :netflix, "netflix and chill" %>
      </div>
      <div class="radio-button">
        <%= f.radio_button :question_1, "camping" %>
        <%= f.label :camping, "camping" %>
      </div>
      <div class="radio-button">
        <%= f.radio_button :question_1, "consult the fœrbîddēn ørb regarding the prophet's warning" %>
        <%= f.label :consult, "consult the fœrbîddēn ørb regarding the prophet's warning" %>
      </div>
      <div class="radio-button">
        <%= f.radio_button :question_1, "omakase" %>
        <%= f.label :omakase, "omakase" %>
      </div>
    </div>
    <div class="form-input">
      <%= f.label :question_2, "Are you an introvert or extrovert?" %>
      <div class="radio-button">
        <%= f.radio_button :question_2, "introvert" %>
        <%= f.label :introvert, "introvert" %>
      </div>
      <div class="radio-button">
        <%= f.radio_button :question_2, "extrovert" %>
        <%= f.label :extrovert, "extrovert" %>
      </div>
    </div>
    <div class="form-input">
      <%= f.label :question_3, "Are you capable of being truly vulnerable with another soul?" %>
      <div class="radio-button">
        <%= f.radio_button :question_3, "maybe" %>
        <%= f.label :maybe, "maybe" %>
      </div>
      <div class="radio-button">
        <%= f.radio_button :question_3, "for sure" %>
        <%= f.label :for_sure, "for sure" %>
      </div>
    </div>
    <div class="form-input">
      <%= f.label :question_4, "What are you looking for in a partner?" %>
      <div class="radio-button">
        <%= f.radio_button :question_4, "money" %>
        <%= f.label :money, "money" %>
      </div>
      <div class="radio-button">
        <%= f.radio_button :question_4, "looks" %>
        <%= f.label :looks, "looks" %>
      </div>
    </div>
    <div class="form-input">
      <%= f.label :question_5, "What's your love language?" %>
      <div class="radio-button">
        <%= f.radio_button :question_5, "physical touch" %>
        <%= f.label :physical_touch, "physical touch" %>
      </div>
      <div class="radio-button">
        <%= f.radio_button :question_5, "acts of service" %>
        <%= f.label :acts_of_service, "acts of service" %>
      </div>
      <div class="radio-button">
        <%= f.radio_button :question_5, "words of affirmation" %>
        <%= f.label :words_of_affirmation, "words of affirmation" %>
      </div>
      <div class="radio-button">
        <%= f.radio_button :question_5, "portuguese" %>
        <%= f.label :portuguese, "portuguese" %>
      </div>
    </div>

    <%= f.submit(class: 'btn-primary') %>
  </div>
<% end %>
