<%= form_with(model: profile) do |f| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <!-- profile pic upload here -->
    <!-- <%= f.hidden_field(:profile_image_cache) %>
    <%= f.file_field(:profile_image) %> -->
    <!-- <div id="profile_widget_opener"></div> -->
    <button type="button" id="profile_widget_opener" class="cloudinary-button">Upload files</button>
    <div class="form-input">
      <%= f.label :email %>
      <%= f.text_field :email%>
    </div>
    <div class="form-input">
      <%= f.label :question_1, "Do you fuck with Charly Bliss?" %>
      <%= f.radio_button :question_1, "true" %>
      <%= f.label :true, "yes" %>
      <%= f.radio_button :question_1, "false" %>
      <%= f.label :false, "no" %>
    </div>
    <div class="form-input">
      <%= f.label :question_2, "Do you want to find out what happens if you don't fuck with Charly Bliss?" %>
      <%= f.radio_button :question_2, "true" %>
      <%= f.label :true, "yes" %>
      <%= f.radio_button :question_2, "false" %>
      <%= f.label :false, "no" %>
    </div>

    <%= f.submit(class: 'btn-primary') %>
  </div>
<% end %>
