<% if @profile.present? %>
	<div class="profile" id="<%= dom_id profile %>">
		<div class="image-container">
			<% if @profile.profile_image.present? %>
				<%= cl_image_tag @profile.profile_image_url, :width=>150 %>
			<% end %>
		</div>
		<div class="main-info">
			<div class="profile-pair">
				<h2>Name:</h2>
				<p><%= @profile.full_name %></p>
			</div>
			<div class="profile-pair">
				<h2>Age:</h2>
				<p><%= @profile.age %></p>
			</div>
			<div class="profile-pair">
				<h2>Occupation:</h2>
				<p><%= @profile.occupation %></p>
			</div>
			<div class="profile-pair">
				<h2>Favorite Song:</h2>
				<p>"I Need a New Boyfriend" by Charly Bliss</p>
			</div>
			<div class="share-container">
				<%= link_to '', create_image_profile_path(@profile, social: "instagram"), class: "fa fa-instagram", remote: true %>
				<%= link_to '', create_image_profile_path(@profile, social: "twitter"), class: "fa fa-twitter", remote: true %>
			</div>
		</div>
	</div>
<% end %>


