<% if @profile.present? %>
	<div class="profile" id="<%= dom_id profile %>">
		<div class="image-container">
			<% if @profile.profile_image.present? %>
				<%= cl_image_tag @profile.profile_image_url, width: 150 %>
			<% else %>
				<%= image_tag "banner-noheading.jpeg", width: 150 %>
			<% end %>
		</div>
		<div class="main-info">
			<div class="profile-pair">
				<h2>Name:</h2>
				<p><%= @profile.full_name %></p>
			</div>
			<div class="profile-pair">
				<h2>Age:</h2>
				<p><%= @profile.age %></p>
			</div>
			<div class="profile-pair">
				<h2>Occupation:</h2>
				<p><%= @profile.occupation %></p>
			</div>
			<div class="profile-pair">
				<h2>Favorite Song:</h2>
				<p>
					<%= link_to "I Need a New Boyfriend", "//found.ee/ineedanewboyfriend", target: "_blank" %> by <%= link_to "Charly Bliss", "https://www.charlybliss.com", target: "_blank" %>
				</p>
			</div>
			<% if @profile.generated_profile_img_url.present? && @profile.ip_address.eql?(request.remote_ip) %>
				<div class="share-container">
					<%= link_to download_profile_image_profile_path(@profile), class: "btn-primary" do %>
						<div class="fa fa-download"></div>
						<p>Download and Share</p>
					<% end %>
					<%= link_to share_to_social_profile_path(@profile, social: "twitter"), class: "btn-primary", remote: true do %>
						<div class="fa fa-twitter"></div>
						<p>Share on Twitter</p>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>


