<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "Bliss-Finder.com" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag "https://upload-widget.cloudinary.com/global/all.js" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3L8RQ3TP5C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3L8RQ3TP5C');
    </script>

  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <div class="main-content">
      <% if current_page?(home_path) %>
        <%= image_tag "banner-noheading.jpeg", class: "banner-img" %>
      <% end %>
      <div class="max-width-container">
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
