<!DOCTYPE html>
<html>
  <head>
    <title>BlissFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag "https://upload-widget.cloudinary.com/global/all.js" %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <div class="main-content">
      <div class="max-width-container">
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
