<!DOCTYPE html>
<html>
  <head>
    <title>Bliss-Finder.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag "https://upload-widget.cloudinary.com/global/all.js" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3L8RQ3TP5C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3L8RQ3TP5C');
    </script>
    <!-- trying twitter card ... -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@charlybliss">
    <meta name="twitter:creator" content="@charlybliss">
    <meta name="twitter:title" content="I Need A New Boyfriend by Charly Bliss">
    <meta name="twitter:description" content="Omg Bliss-Finder.com just made me my new dating profile...">
    <meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg">

    <!-- BEGIN SHAREAHOLIC CODE -->
    <link rel="preload" href="https://cdn.shareaholic.net/assets/pub/shareaholic.js" as="script" />
    <meta name="shareaholic:site_id" content="742886dec059c1d6553b0a93e5dcf86b" />
    <script data-cfasync="false" async src="https://cdn.shareaholic.net/assets/pub/shareaholic.js"></script>
    <!-- END SHAREAHOLIC CODE -->
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <div class="main-content">
      <% if current_page?(home_path) %>
        <%= image_tag "banner-noheading.jpeg", class: "banner-img" %>
      <% end %>
      <div class="max-width-container">
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
